.page_title{
    font-size: 22px;
}
.page_ .page_title{
    text-align: center;
    padding-top: 20px;
}
.page_ .text_under_line{
    width:140px;
    margin: auto;
    margin-bottom: 50px;
    -moz-border-radius:0 0 3px 3px;
    -webkit-border-radius:0 0 3px 3px;
    -o-border-radius:0 0 3px 3px;
    -ms-border-radius:0 0 3px 3px;
    border-radius:0 0 3px 3px;
}
.text_under_line{
    position: relative;
    width:40px;
    border-bottom: 4px solid hsl(231, 71%, 75%);
    -moz-border-radius:0 0 0 3px;
    -webkit-border-radius:0 0 0 3px;
    -o-border-radius:0 0 0 3px;
    -ms-border-radius:0 0 0 3px;
    border-radius:0 0 0 3px;
    margin-bottom: 30px;

}
.project_card_grid{
    display:-moz-grid;
    display:-ms-grid;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding-top: 20px;
} 
.card_item{
    -webkit-box-shadow:1px 1px 6px hsla(231, 71%, 45%, 0.05);
    -o-box-shadow:1px 1px 6px hsla(231, 71%, 45%, 0.05);
    -ms-box-shadow:1px 1px 6px hsla(231, 71%, 45%, 0.05);
    -moz-box-shadow:1px 1px 6px hsla(231, 71%, 45%, 0.05);
    box-shadow:1px 1px 6px hsla(231, 71%, 45%, 0.05);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
    -webkit-border:  1px solid hsla(231, 71%, 45%,0.5);
    -moz-border: 1px solid hsla(231, 71%, 45%,0.5);
    -o-border:  1px solid hsla(231, 71%, 45%,0.5);
    -ms-border: 1px solid hsla(231, 71%, 45%,0.5);
    border: 1px solid hsla(231, 71%, 45%,0.5);
    position: relative;
    -moz-transition:all 0.3s ; 
    -webkit-transition: all 0.3s ; 
    -ms-transition:  all 0.3s ; 
    -o-transition:all 0.3s ; 
    transition:all 0.3s ; 
    top:0;
    padding-bottom: 45px;
}
.card_item:hover{
    position: relative;
    top:2px;
    background: hsl(231, 71%, 98%);
    -moz-transition:all 0.3s ; 
    -webkit-transition: all 0.3s ; 
    -ms-transition:  all 0.3s ; 
    -o-transition:all 0.3s ; 
    transition:all 0.3s ; 
}
.card_item  .card_header{
    padding: 15px;
    padding-bottom: 5px;
    position: relative;
}
.card_item  .card_header img{
    width:100%;
    height: 150px;
    object-fit: cover;
}
.card_item  .card_header .img_container{
    position: relative;
    
}
.card_item  .card_header span{
    position: absolute;
    right:0;
    bottom:0;
    right: -16px;
    bottom: -20px;
    right: -1px;
    bottom: -15px;
   background-color: hsl(231, 71%, 63%);
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   -o-border-radius:5px;
   -ms-border-radius:5px;
   border-radius:5px;
   padding: 5px 25px;
   display: inline-block;
   font-size: 14px;
   color: hsl(231, 71%, 93%);
   margin-bottom: 5px;
   -moz-transition:all 0.3s ; 
   -webkit-transition: all 0.3s ; 
   -ms-transition:  all 0.3s ; 
   -o-transition:all 0.3s ; 
   transition:all 0.3s ; 
   -webkit-border: 1px solid hsla(231, 71%, 99%,0.5);
   -moz-border: 1px solid hsla(231, 71%, 99%,0.5);
   -o-border: 1px solid hsla(231, 71%, 99%,0.5);
   -ms-border: 1px solid hsla(231, 71%, 99%,0.5);
   border: 1px solid hsla(231, 71%, 99%,0.5);

}
.card_item  .card_header span:hover{
    color: hsl(231, 71%, 63%);
    background: white;
    -moz-transition:all 0.3s ; 
    -webkit-transition: all 0.3s ; 
    -ms-transition:  all 0.3s ; 
    -o-transition:all 0.3s ; 
    transition:all 0.3s ; 
    -webkit-border:  1px solid hsla(231, 71%, 45%,0.5);
    -moz-border: 1px solid hsla(231, 71%, 45%,0.5);
    -o-border:  1px solid hsla(231, 71%, 45%,0.5);
    -ms-border:  1px solid hsla(231, 71%, 45%,0.5);
    border:  1px solid hsla(231, 71%, 45%,0.5);
}
.card_item .title{
    font-weight: 800;
    font-size: 18px;
    margin-top: 1rem;
    line-height: 1.4;
}
.card_item .details{
    font-size: 14px;
    line-height: 1.5;
    color:#525f7f;
}
.card_item .card_footer{
    background: hsl(231, 35%, 95%);
    background: #f7fafc;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding:10px 15px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    -o-border-radius:0 0 5px 5px;
    -ms-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;

}
.card_footer small{
    color:#525f7f;
}
/*details page*/
.details_cnt{
    max-width: 100%;
    width: 590px;
    margin: auto;
    margin-top: 20px;
 
}
.details_cnt .full_img{
    width:100%;
    max-height: 360px;
    object-fit: cover;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    -o-border-radius:5px 5px 0 0;
    -ms-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
}
.details_cnt .sub_form{
    background: hsl(231, 71%, 98%);
    padding:25px;
}
.form_container input, .form_container select{
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
    display: block;
    width:100%;
    background: #fff;
    padding: 5px;
    height: 35px;
    line-height: 33px;
    color: #666666;
    font-size: 14px;
    background: white;
    -moz-transition:all 0.3s ; 
    -webkit-transition: all 0.3s ; 
    -ms-transition:  all 0.3s ; 
    -o-transition:all 0.3s ; 
    transition:all 0.3s ; 
    -webkit-border:  1px solid hsla(231, 31%, 45%,0.8);
    -moz-border: 1px solid hsla(231, 31%, 45%,0.8);
    -o-border:  1px solid hsla(231, 31%, 45%,0.8);
    -ms-border:  1px solid hsla(231, 31%, 45%,0.8);
    border:  1px solid hsla(231, 31%, 45%,0.8);
    -moz-transition:all 0.3s ; 
    -webkit-transition: all 0.3s ; 
    -ms-transition:  all 0.3s ; 
    -o-transition:all 0.3s ; 
    transition:all 0.3s ; 
}
.form_container input:focus, .form_container select:focus{
    -moz-box-shadow:none ; 
    -webkit-box-shadow: none ;  
    -ms-box-shadow:none ; 
    -o-box-shadow:none ; 
    box-shadow:none ; 
    -moz-outline:none ; 
    -webkit-outline: none ;  
    -ms-outline:none ; 
    -o-outline:none ; 
    outline:none ; 
    -moz-transition:all 0.3s ; 
    -webkit-transition: all 0.3s ; 
    -ms-transition:  all 0.3s ; 
    -o-transition:all 0.3s ; 
    transition:all 0.3s ; 
    -webkit-border:  1px solid hsla(231, 71%, 45%,0.5);
    -moz-border: 1px solid hsla(231, 71%, 45%,0.5);
    -o-border:  1px solid hsla(231, 71%, 45%,0.5);
    -ms-border:  1px solid hsla(231, 71%, 45%,0.5);
    border:  1px solid hsla(231, 71%, 45%,0.5); 
}
.form_container label{
    display: block;
    color: hsl(231, 31%, 53%);
    font-size: 14px;
    margin-bottom: .3rem;
    color: hsl(231, 20%, 53%);
    font-size: 15px;
}
.form_group{
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
.sub_form h4{
    font-size: 18px;
}
.sub_form p{
    font-size: 14px;
    padding-top: 1rem;
}
.sub_form button{
    margin-top: 1rem;
   background-color: hsl(231, 71%, 63%);
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   -o-border-radius:5px;
   -ms-border-radius:5px;
   border-radius:5px;
   padding: 5px 25px;
   display: inline-block;
   font-size: 14px;
   color: hsl(231, 71%, 93%);
   margin-bottom: 5px;
   -moz-transition:all 0.3s ; 
   -webkit-transition: all 0.3s ; 
   -ms-transition:  all 0.3s ; 
   -o-transition:all 0.3s ; 
   transition:all 0.3s ; 
   -webkit-border: 1px solid hsla(231, 71%, 99%,0.5);
   -moz-border: 1px solid hsla(231, 71%, 99%,0.5);
   -o-border: 1px solid hsla(231, 71%, 99%,0.5);
   -ms-border: 1px solid hsla(231, 71%, 99%,0.5);
   border: 1px solid hsla(231, 71%, 99%,0.5);

}
.sub_form button:hover{
    color: hsl(231, 71%, 83%);
    background-color: hsl(231, 71%, 53%);
    -moz-transition:all 0.3s ; 
    -webkit-transition: all 0.3s ; 
    -ms-transition:  all 0.3s ; 
    -o-transition:all 0.3s ; 
    transition:all 0.3s ; 
    -webkit-border:  1px solid hsla(231, 71%, 45%,0.5);
    -moz-border: 1px solid hsla(231, 71%, 45%,0.5);
    -o-border:  1px solid hsla(231, 71%, 45%,0.5);
    -ms-border:  1px solid hsla(231, 71%, 45%,0.5);
    border:  1px solid hsla(231, 71%, 45%,0.5);
}
.sub_form button:focus{
    -moz-box-shadow:none ; 
    -webkit-box-shadow: none ;  
    -ms-box-shadow:none ; 
    -o-box-shadow:none ; 
    box-shadow:none ; 
    -moz-outline:none ; 
    -webkit-outline: none ;  
    -ms-outline:none ; 
    -o-outline:none ; 
    outline:none ; 
    color: hsl(231, 71%, 63%);
    background: white;
    -moz-transition:all 0.3s ; 
    -webkit-transition: all 0.3s ; 
    -ms-transition:  all 0.3s ; 
    -o-transition:all 0.3s ; 
    transition:all 0.3s ; 
    -webkit-border:  1px solid hsla(231, 71%, 45%,0.5);
    -moz-border: 1px solid hsla(231, 71%, 45%,0.5);
    -o-border:  1px solid hsla(231, 71%, 45%,0.5);
    -ms-border:  1px solid hsla(231, 71%, 45%,0.5);
    border:  1px solid hsla(231, 71%, 45%,0.5);
}
.sub_form span{
    color: #f4645f;
}
.description_con{
    margin-top: 25px;
    margin-bottom: 25px;
    background: hsl(231, 71%, 98%);
    padding:25px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    -o-border-radius:0 0 5px 5px;
    -ms-border-radius:0 0 5px 5px;
    border-radius:50 0 5px 5px;
}
.description_con h4{
    font-size: 18px;
}
.description_con .location .itl{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 0;
}
.description_con .location .itl svg{
    margin-right: 5px;
}
.description_con .location .addr{
    font-size: 15px;
    padding-left: 20px;
    line-height: 1.3;
}
.ps_note{
    margin-bottom: 0;
}
/*view details */
.header_container{
    text-align: center;
}
.header_container .img_herader img{
    height: 100px;
    width:100px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -o-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    margin: auto;
    background: hsl(231, 71%, 98%);
    object-fit: cover;
}
.header_container .name_user{
    margin-bottom: 0;
    margin-top: 0.5rem;
}
.header_container .users_address{
    color: hsla(231, 21%, 28%, .7);
    font-size: 14px;
}
.header_container .users_email{
    margin: 0;
    /* margin-bottom: 0.3rem; */
    color:hsl(231, 41%, 58%);
    font-size: 14px;
}
.header_container .users_phone{
    font-size: 15px;
    margin: 0;
    /* margin-bottom: 0.3rem; */
}
._line_{
    -webkit-border:  1px solid hsla(231, 71%, 45%,0.1);
    -moz-border: 1px solid hsla(231, 71%, 45%,0.1);
    -o-border:  1px solid hsla(231, 71%, 45%,0.1);
    -ms-border:  1px solid hsla(231, 71%, 45%,0.1);
    border:  1px solid hsla(231, 71%, 45%,0.1);
    margin:30px auto;
    max-width: 90%;
}
._line_1{
    -webkit-border:  1px solid hsla(231, 51%, 35%,0.1);
    -moz-border: 1px solid hsla(231, 51%, 35%,0.1);
    -o-border:  1px solid hsla(231, 51%, 35%,0.1);
    -ms-border:  1px solid hsla(231, 51%, 35%,0.1);
    border:  1px solid hsla(231, 51%, 35%,0.06);
    margin:15px auto;
    max-width: 80%;
}
.grid_cont{
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 15px;
    margin-bottom: 10px;
    /* display:-webkit-flex;
    display:flex;
    justify-content: center; */
}
.grid_cont.single_grid{
    grid-template-columns: 1fr;
}
.grid_cont .grid__item{
   text-align: center;
    /*  margin-right: 10px;
    margin-left: 10px; */
}
/* .grid_cont.single_grid .grid__item{text-align: left;} */
.grid_cont .grid__item h6{
    margin: 0;
    font-size: 12px;
    /* color: hsla(231, 21%, 28%, .7); */
}
.grid_cont .grid__item p{
    margin: 0;
    font-size: 15px;
    line-height: 1.4;
}
.agreement_{
    font-size: 15px;
    margin-top: 10px;
}
.footer_sig{
    margin-top: 30px;
    background: hsl(231, 31%, 98%);
    padding: 30px 20px;
    text-align: center;
}
.footer_sig p{
    margin: 0;
    margin-bottom: 0.2rem;
    font-size: 14px;
}
.footer_sig p._locat{
    font-size: 15px;
    line-height: 1.4;

}
.footer_sig p span{
    padding-left: 10px;
    padding-right: 10px;
}
.footer_sig p svg path{
    fill:hsla(231, 31%, 58%,.7)
}
/* media query  */
@media only screen and (max-width: 1190px) {
    .project_card_grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
    .project_card_grid{
        grid-template-columns:  1fr;
    }
}
@media only screen and (max-width: 560px) {
    .project_card_grid{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 490px) {
    .form_group {
        grid-template-columns: 1fr;
    }
    .form_container input, .form_container select {
        max-width:200px;
    }
}
.modal{
    /* display:block !important;
    opacity: 1 !important; */
}